<!doctype html>
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title
    %meta{:content => "", :name => "description"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    / Place favicon.ico and apple-touch-icon.png in the root directory
    / build:css({.tmp,app}) styles/main.css
    %link{:href => "styles/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "styles/main.css", :rel => "stylesheet"}/
    / endbuild
  %body{"ng-app" => "learnAngularApp"}
    /[if lt IE 7]
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    /[if lt IE 9]
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>

    / Add your site or application content here
    .container{"ng-view" => ""}

    / Google Analytics: change UA-XXXXX-X to be your site's ID.
    :javascript
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    %script{:src => "bower_components/jquery/jquery.js"}
    %script{:src => "bower_components/angular/angular.js"}

    / build:js scripts/plugins.js
    %script{:src => "bower_components/bootstrap-sass/js/bootstrap-affix.js"}
    %script{:src => "bower_components/bootstrap-sass/js/bootstrap-alert.js"}
    %script{:src => "bower_components/bootstrap-sass/js/bootstrap-dropdown.js"}
    %script{:src => "bower_components/bootstrap-sass/js/bootstrap-tooltip.js"}
    %script{:src => "bower_components/bootstrap-sass/js/bootstrap-modal.js"}
    %script{:src => "bower_components/bootstrap-sass/js/bootstrap-transition.js"}
    %script{:src => "bower_components/bootstrap-sass/js/bootstrap-button.js"}
    %script{:src => "bower_components/bootstrap-sass/js/bootstrap-popover.js"}
    %script{:src => "bower_components/bootstrap-sass/js/bootstrap-typeahead.js"}
    %script{:src => "bower_components/bootstrap-sass/js/bootstrap-carousel.js"}
    %script{:src => "bower_components/bootstrap-sass/js/bootstrap-scrollspy.js"}
    %script{:src => "bower_components/bootstrap-sass/js/bootstrap-collapse.js"}
    %script{:src => "bower_components/bootstrap-sass/js/bootstrap-tab.js"}
    / endbuild

    / build:js scripts/modules.js
    %script{:src => "bower_components/angular-resource/angular-resource.js"}
    %script{:src => "bower_components/angular-cookies/angular-cookies.js"}
    %script{:src => "bower_components/angular-sanitize/angular-sanitize.js"}
    / endbuild

    / build:js({.tmp,app}) scripts/scripts.js
    %script{:src => "scripts/app.js"}
    %script{:src => "scripts/controllers/main.js"}
    / endbuild
-#!!!
-#%html
  -#%head
    -#%link{ :href => '/css/app.css', :media => 'all', :rel => 'stylesheet', :type => 'text/css' } 
    -#%script{ :src => '/lib/json2.js', :type => 'text/javascript' }
    -#%script{ :src => 'lib/jquery-1.4.2.js', :type => 'text/javascript' }
    -#%script{ :src => '/lib/underscore-1.1.3.js', :type => 'text/javascript' }
    -#%script{ :src => '/lib/backbone.js', :type => 'text/javascript' }
    -#%script{ :src => '/lib/models/resource.js', :type => 'text/javascript' }
    -#%script{ :src => '/lib/collections/resourceList.js', :type => 'text/javascript' }
    -#%script{ :src => '/lib/views/appView.js', :type => 'text/javascript' }
    -#%script{ :src => '/lib/views/resourceView.js', :type => 'text/javascript' }
    -#%script{ :src => '/lib/controllers/appController.js', :type => 'text/javascript' }
    -#%script{ :src => '/lib/app.js', :type => 'text/javascript' }
    -#%script#resourceTemplate{ :type => 'text/template' }
      -#:plain
        -#<li class='resourceLink' id='<%= id %>'><a href='#<%= url %>'><%= name %></a><a class='delete' href='#<%= url + '/delete' %>'></a></li>
    -#%script#resourceDetailTemplate{ :type => 'text/template' }
      -#:plain
        -#<input id='docID' type='hidden' value='<%= id %>'></input>
        -#<div id='docTitle' class='title' tabindex='1' contenteditable='true'><%= name %></div>
        -#<div id='docContent' tabindex='2' contenteditable='true'><%= data %></div>
  -#%body
    -#%div#container
      -#%div#app.leftSide
        -#%div#resourceListTitle.title Documents
        -#%ul#resourceList
        -#%div
          -#%a#newResource{ :href => '#resources/new' } New...
      -#%div#doc.rightSide
      -#%div#footer{ :style => 'clear: both; height: 10px;' }
